{% if cookiecutter.is_library == 'y' -%}
# The depenencies must not be fixed to a specific version, it you might
# limit the min version required. For example: 
#
#   do this:
#       libjampp>=1.0.0
#       libcore
#       
#   don't do this:
#       libjampp==1.0.0
#       libcore==1.2.3
# 

{% else %}
# The depenencies must be fixed to a specific version
#
#   do this:
#       libjampp==1.0.0
#       libcore==1.2.3
#       
#   don't do this:
#       libjampp>=1.0.0
#       libcore
{%- endif %}
